<form>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="card">
            
            <mat-card-content class="form">
                <mat-form-field appearance="fill">
                    <mat-label>Select Language</mat-label>
                    <mat-select>
                      <mat-option [value]="option" *ngFor="let option of languageList">{{ option.language }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Enter Text</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
            </mat-card-content>
            <mat-card-actions></mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            
          <mat-card-content class="form">
            <mat-form-field appearance="fill">
                <mat-label>Select Language</mat-label>
                <mat-select>
                  <mat-option [value]="option" *ngFor="let option of languageList">{{ option.language }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Translation</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
        </mat-card-content>


            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</form>